.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;

    margin-bottom: 25px;
}

.header-logo {
    width: 28px;
}

.header-navbar ul {
    list-style: none;
}

.item {
    display: inline-flex;
    align-items: center;
    padding: 4px 0;
}

.fonts-switcher {
    margin-right: 16px;
    border-right: 1px solid var(--grey-color-light);
    position: relative;
}

@media screen and (min-width: 768px) {
    .header {
        margin-bottom: 52px;
    }

    .header-logo {
        width: 32px;
    }

    .item {
        padding: 4px 0;

        &:first-child {
            margin-right: 26px;
        }
    }
}