.button {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    padding: 0 3px;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;

    /* light */
    background-color: var(--grey-color-dark);

    &.darkmode {
        /* dark */
        background-color: var(--purple-color);
    }
}

.button span {
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--white-color);

    transition: all .3s;
}

.button.darkmode span {
    /* dark */
    transform: translateX(20px);
}

.icon-wrapper {
    width: 20px;
    display: inline-block;
}

.icon.darkmode path {
    /* dark */
    stroke: var(--purple-color);
}

@media screen and (min-width: 768px) {
    .button {
        margin-right: 20px;
    }
}