.footer {
    margin-top: 32px;
    padding: 24px 0 62px;
    font-size: var(--font-size-body-small);

    /* light */
    border-top: 1px solid var(--grey-color-light);

    &.darkmode {
        /* dark */
        border-top: 1px solid var(--black-color-04);
    }
}

.footer-title {
    display: block;
    color: var(--grey-color-dark);
    margin-bottom: 4px;
}

.footer-title,
.footer-link {
    text-decoration: underline;
}

.footer-link {
    display: flex;
    color: var(--black-color-03);

    /* dark */
    &.darkmode {
        color: var(--white-color);
    }
}

.footer-icon {
    width: 12px;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .footer {
        margin-top: 40px;
        padding: 18px 0 60px;
        display: flex;
    }

    .footer-title {
        margin-right: 14px;
        margin-bottom: 0;
    }
}