.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: calc(var(--font-size-heading-large) / 2);
    line-height: 40px;
}

.phonetic {
    font-size: var(--font-size-body-medium);
    color: var(--purple-color);
    line-height: var(--line-height-body-medium);
    display: inline-block;
    margin-top: 4px;
}

.button {
    width: 48px;
    height: 48px;
    position: relative;
}

.icon-circle {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--purple-color);
    opacity: .25;
}

.icon-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 13px;
    border-color: transparent transparent transparent var(--purple-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-35%) translateY(-50%);
}

@media screen and (min-width: 768px) {
    .header h1 {
        font-size: var(--font-size-heading-large);
        line-height: var(--line-height-heading-large);
    }

    .phonetic {
        font-size: var(--font-size-heading-medium);
        line-height: var(--line-height-heading-medium);
        margin-top: 8px;
    }

    .button {
        width: 75px;
        height: 75px;
        transition: all .3s;
    }

    .button:hover .icon-circle {
        opacity: 1;
    }

    .button:hover .icon-triangle {
        border-color: transparent transparent transparent var(--white-color);
    }

    .icon-triangle {
        border-width: 10.5px 0 10.5px 21px;
    }
}