.meaning {
    margin-top: 30px;
}

.title {
    font-size: var(--font-size-body-medium);
    line-height: calc(var(--line-height-body-medium) - 2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title span {
    display: inline-block;
    width: 80%;
    height: 1px;

    /* light */
    background-color: var(--grey-color-light);
}

.title.darkmode span {
    /* dark */
    background-color: var(--black-color-04);
}

.subTitle {
    font-size: calc(var(--font-size-body-small) + 2px);
    line-height: calc(var(--line-height-body-small) + 3px);
    margin-bottom: 16px;

    &.darkmode {
        /* dark */
        color: var(--grey-color-dark);
    }
}

.definitions {
    padding-left: 26px;
    list-style-type: none;
}

.definitions li {
    position: relative;
    margin-bottom: 12px;
}

.definitions li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--purple-color);
    display: inline-block;

    position: absolute;
    top: 0.5em;
    left: -26px;
}

@media screen and (min-width: 768px) {
    .meaning {
        margin-top: 40px;
    }

    .title {
        font-size: var(--font-size-heading-medium);
        line-height: var(--line-height-heading-medium);
        margin-bottom: 40px;
    }

    .title span {
        width: 88%;
    }

    .subTitle {
        font-size: var(--font-size-heading-small);
        line-height: var(--line-height-heading-small);
        margin-bottom: 26px;
    }

    .definitions {
        padding-left: 50px;
    }

    .definitions li {
        margin-bottom: 14px;
    }
}