.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: calc(var(--font-size-heading-large) / 2);
    line-height: 40px;
}

.phonetic {
    font-size: var(--font-size-body-medium);
    color: var(--purple-color);
    line-height: var(--line-height-body-medium);
    display: inline-block;
    margin-top: 4px;
}

.button {
    width: 48px;
}

@media screen and (min-width: 768px) {
    .header h1 {
        font-size: var(--font-size-heading-large);
        line-height: var(--line-height-heading-large);
    }

    .phonetic {
        font-size: var(--font-size-heading-medium);
        line-height: var(--line-height-heading-medium);
        margin-top: 8px;
    }

    .button {
        width: 75px;
    }
}