.App {
    font-family: var(--font-family-sans-serif);
    background-color: transparent;
    /* transition: color .3s; */
}

.App-content {
    padding: 24px;
    max-width: 816px;
    margin: auto;
}

.App.darkmode {
    background-color: var(--black-color-01);
    color: var(--white-color);
}

.App.serif {
    font-family: var(--font-family-serif);
}

.App.mono {
    font-family: var(--font-family-mono);
}

@media screen and (min-width: 768px) {
    .App-content {
        padding: 58px 40px;
    }
}